<nav class="navbar navbar-expand-lg navbar-light bg-white shadow sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/students/dashboard">
      <img src="/Images/IGConnect-logo-transparent.png" width="150" alt="IGConnect Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav me-3">
        <li class="nav-item">
          <a class="nav-link <% if (activePage === 'events') { %>active<% } %>" href="/events">
            <i class="fa fa-calendar-days me-1"></i> Events
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (activePage === 'igs') { %>active<% } %>" href="/students/igs">
            <i class="fa fa-people-group me-1"></i> IGs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (activePage === 'announcements') { %>active<% } %>" href="/students/announcements">
            <i class="fa fa-bullhorn me-1"></i> Announcements
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (activePage === 'profile') { %>active<% } %>" href="/student/profile">
            <i class="fa fa-user me-1"></i> Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (activePage === 'achievements') { %>active<% } %>" href="/students/achievements">
            <i class="fa fa-trophy me-1"></i> Achievements
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (activePage === 'gallery') { %>active<% } %>" href="/students/gallery">
            <i class="fa fa-image me-1"></i> Gallery
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (activePage === 'schedule') { %>active<% } %>" href="/students/schedule">
            <i class="fa fa-clock me-1"></i> Schedule
          </a>
        </li>
      </ul>
      <a href="/logout" class="btn btn-outline-primary">
        <i class="fa fa-sign-out-alt me-1"></i> Logout
      </a>
    </div>
  </div>
</nav>
