<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/student/home">IGConnect</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStudent" aria-controls="navbarStudent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarStudent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/student/profile">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/student/igs">Interest Groups</a></li>
        <li class="nav-item"><a class="nav-link" href="/student/events">My Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/student/attendance">My Attendance</a></li>
        <li class="nav-item"><a class="nav-link" href="/student/announcements">Announcements</a></li>
        <li class="nav-item"><a class="nav-link" href="/student/gallery">Gallery</a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link text-warning" href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
